.details {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 1120px;
    margin: 0 auto;
}

.close {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    margin-bottom: 15px;
    padding: 5px;
}

.close h3 {
    font-size: 22px;
}

.imgWrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

img {
    width: 70%;
    border: 3px solid lightgray;
    border-radius: 20px;
}

.infoWrapper {
    padding: 15px;
}

.infoWrapper h2 {
    font-size: 60px;
}

.infoWrapper p {
    font-size: 26px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 7px;
}

.infoWrapper h3 {
    font-size: 30px;
}