.catalog {
    display: grid;
    justify-content: center;
    gap: 35px;
    grid-template-columns: repeat(auto-fill, 300px);
}

.wrapper {
    margin: 0px auto;
    background-color: white;
    padding: 100px 10px 10px;
}