.card {
    max-width: 325px;
    height: 430px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 20px 0;
    flex: 0 1 33.333%;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    transform: scale(1);
    position: relative;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.01);
}

.img {
    width: 100%;
    min-height: 100px;
    max-height: 190px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 26px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid gray;
}

.card p {
    font-size: 20px;
    margin-bottom: 5px;
}

.bookmark {
    transform: scale(1);
    cursor: pointer;
}

.bookmark:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btnWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8px;
}

@media (max-width: 1024px) {
    .card {
        flex: 0 1 48%;
    }
}

@media (max-width: 662px) {
    .card {
        flex: 90%;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 0 1 95%;
    }
}
