.header {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #3f95fd;
    position: fixed;
    z-index: 100;
}

.headerElems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: white;
    cursor: pointer;
    transform: scale(1);
    font-weight: 600;
    text-decoration: none;
}

.searchBtnWrapper {
    display: contents;
}

.headerElems h2:hover {
    transform: scale(1.05);
}

.favorites {
    transform: scale(1);
    cursor: pointer;
    color: white;
}

.favorites:hover {
    transform: scale(1.05);
}

.compare {
    transform: scale(1);
    cursor: pointer;
    color: white;
}

.compare:hover {
    transform: scale(1.05);
}

.iconsWrapper {
    display: contents;
}

.iconWrapper {
    position: relative;
    display: inline-block;
}

.count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(237, 78, 78);
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}

@media (max-width: 900px) {
    .header {
        height: auto;
        padding: 15px;
    }

    .headerElems {
        display: flex;
        flex-direction: column;
    }

    .searchBtnWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .iconWrapper {
        margin-top: 20px;
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 20px;
    }
}

@media (max-width: 670px) {
    .iconsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .iconWrapper {
        margin: 0 20px 0 20px;
    }
}

@media (max-width: 580px) {
    .header {
        padding: 10px;
    }

    .searchBtnWrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .header {
        height: auto;
        padding: 15px;
    }

    .logo {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .headerElems {
        display: flex;
        justify-content: space-evenly;
    }

    .search {
        margin-left: -70px;
    }
}