.header {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #3f95fd;
    position: fixed;
    z-index: 100;
}

.headerElems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    color: white;
    cursor: pointer;
    transform: scale(1);
    font-weight: 600;
    text-decoration: none;
}

.headerElems h2:hover {
    transform: scale(1.05);
}

.favorites {
    transform: scale(1);
    cursor: pointer;
    color: white;
}

.favorites:hover {
    transform: scale(1.05);
}

.compare {
    transform: scale(1);
    cursor: pointer;
    color: white;
}

.compare:hover {
    transform: scale(1.05);
}

.iconWrapper {
    position: relative;
    display: inline-block;
}

.count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(241, 74, 74);
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        height: auto;
        padding: 15px;
    }

    .logo {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .headerElems {
        display: flex;
        justify-content: space-evenly;
    }

    .search {
        margin-left: -70px;
    }
}