.wrapper {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 1290px;
    margin: 0 auto;
    background-color: rgb(236, 236, 236);
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.aboutUs {
    margin-top: 720px;
}

.aboutUs,
.offer,
.mission {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
}

.aboutUs h2,
.offer h2,
.mission h2,
.whywe h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.aboutUs p,
.mission p,
.whywe p {
    font-size: 20px;
    margin-bottom: 3px;
}

.offer h3 {
    font-size: 22px;
    margin-left: 15px;
}

.offer p {
    font-size: 20px;
    margin-bottom: 3px;
    margin-left: 30px;
}

.whywe {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 3;
}

.slogan h1 {
    font-size: 42px;
    margin-bottom: 20px;
    transform: scale(1);
    cursor: default;
}

.slogan h1:hover {
    transform: scale(1.1);
}

.slogan p {
    font-size: 22px;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 2;
}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}