.searchField input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border: 3px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    width: 400px;
}

.searchField {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.search {
    margin-left: 15px;
    transform: scale(1);
    cursor: pointer;
}

.search:hover {
    transform: scale(1.1);
}

.searchField label {
    font-size: 22px;
    font-weight: 500;
    margin-right: 15px;
    margin-top: 3px;
    margin-left: 70px;
}