.wrapper {
    width: 1120px;
    margin: 0px auto;
    background-color: white;
    padding: 30px;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(120,186,255,1) 56%, rgba(1,54,117,1) 100%);
    background-attachment: fixed;
}
